* {
	padding:0;
	margin:0;
	font-size:12px;
	font-family:Tahoma,Verdana, Arial, Helvetica, sans-serif;
}
body {
	background:#fff;
	text-align:center;
	font-family:Tahoma;
}
li {
	list-style:none;
}
img {
	border:0;
}
em {
	font-style:normal;
}
input,button {
	border:none;
}
.main input.nos{
	border:0;
}
a {
	text-decoration:none;
	color:#1281ce;
}
a:hover {
	color:#000;
}
button {
	background:url(../images/button_bg1.gif) no-repeat;
	width:82px;
	height:24px;
	line-height:24px;
	color:#fff;
	margin-left:10px;
	cursor:pointer;
}
button.len {
	background:url(../images/button_bg3.gif) no-repeat;
	width:100px;
	height:24px;
	color:#fff;
	margin-left:10px;
}
/* 全局定义结束 */
.login {
	width:598px;
	height:287px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-144px 0 0 -299px;
	background:url(../images/login_bg.gif) repeat-x;
}
.login h1 {
	background:url(../images/login_left.gif) 0 0 no-repeat;
	padding:67px 0 0 46px;
	float:left;
}
.login .language {
	float:right;
	background:url(../images/login_right.gif) no-repeat;
	width:186px;
	height:28px;
	color:#fff;
	padding:8px 0 0 36px;
	position:relative;
}
.login .login-form {
	background:url(../images/login_line.gif) 0 0 no-repeat;
	margin:-27px 0 0 44px;
	*margin:9px 0 0 44px;
	padding:50px 0 0 22px;
	text-align:left;
	float:left;
	clear:right;
	width:300px;
}
.login-form h2 {
	background:url(../images/login_point.gif) no-repeat;
	color:#fff;
	font-size:14px;
	padding-left:25px;
	line-height:18px;
	margin-bottom:20px;
}
.login-form div {
	padding:10px 0 0 26px;
	*padding:8px 0 0 26px;
	zoom:1;
}
.login-form label {
	float:left;
	line-height:28px;
	color:#fff;
	width:60px;
	text-align:right;
	margin-right:4px;
	
}
.login-form input {
	background:url(../images/login_input_bg.gif) repeat-x;
	border:1px solid #fff;
	height:14px;
	width:152px;
	padding:4px;
}
.login-form .button {
	padding-bottom:67px;
}
.login-form button {
	background:url(../images/login_button.gif) no-repeat;
	width:162px;
	height:29px;
	line-height:29px;
	color:#fff;
	margin:0 0 0 64px;
	_margin:0 0 0 67px;
/*	#margin:0 0 0 48px;
	_margin:0 0 0 51px;*/
}
.login-copy {
	position:relative;
	clear:both;
	background:url(../images/login_foot.gif) no-repeat;
	zoom:1;
	height:14px;
}
.login-copy p {
	position:absolute;
	color:#fff;
	font-size:10px;
	left:20px;
	top:-153px;
}
.authcode img {
	margin:0 0 0 5px;
	cursor:pointer;
}
/* 登录页面结束 */
/********** header **********/
.contain {
	width:100%;
	text-align:left;
	border-collapse:collapse;
	border:0;
}
.contain td {
	vertical-align:top;
}
.header {
	height:71px;
	background:#dcf1ff;
}
.header-wrap {
	background:url(../images/head_bg.gif) repeat-x;
	text-align:left;
	height:66px;
}
.logo {
	float:left;
	padding:20px 0 0 20px;
}
.nav {
	background:url(../images/nav_bg.gif) no-repeat;
	height:26px;
	line-height:26px;
	float:right;
	margin:20px 10px 0 0;
	color:#fff;
}
.nav a {
	color:#fff;
	margin:0 5px;
}
.nav span {
	padding:0 5px;
}
.nav .nav_right {
	background:url(../images/nav_right.gif) right no-repeat;
	height:26px;
	display:inherit;
	padding:0 10px 0 15px;
}
.nav select {
	margin-top:2px;
}
/* 内页头部结束 */
#side {
	background:#dcf1ff;
}
.side {
	background:#dcf1ff;
	text-align:center;
	width:167px;
}
.side-head {
	background:url(../images/side_head.gif) no-repeat;
	width:157px;
	margin:0 auto;
	height:31px;
	line-height:31px;
	color:#fff;
	font-weight:bold;
}
.side-wrap {
	width:157px;
	background:#1281ce url(../images/side_bg.gif) no-repeat;
	margin:0 auto;
}
.side li {
	background:url(../images/side_line.gif) 0 bottom repeat-x;
	padding-bottom:2px;
	text-align:left;
}
.side li a {
	color:#fff;
	display:block;
	*width:157px;
	background:url(../images/side_point.gif) 13px 7px no-repeat;
	padding-left:25px;
	line-height:24px;
}
.side li a:hover {
	color:#fff;
	background:#000 url(../images/side_point.gif) 13px 7px no-repeat;
	display:block;
}
.side li li {
	background:#f5fbff;
	padding-bottom:1px;
}
.side li li a {
	color:#333;
	display:block;
	*width:155px;
	background:#f5fbff;
	padding-left:25px;
	margin:0;
}
.side li li a:hover {
	background:#badcf4 url(../images/side_point1.gif) 13px 7px no-repeat;
	color:#1281ce;
	font-weight:bold;
	display:block;
}
.side-wrap ul {
	background:url(../images/side_foot.gif) 0 bottom no-repeat;
	padding-bottom:10px;
}
.side-wrap ul ul {
	border:1px solid #005b9a;
	border-bottom:0;
	background:none;
	padding-bottom:0;
}
/* 右侧结束 */
#main {
	border-top:1px solid #b2d8f2;
	border-left:1px solid #b2d8f2;
}
#main iframe {
	width:100%;
	min-width:590px;
	width:expression(document.body.clientWidth*0.99<600?"590px":"100%");	
}
.main {
	background:url(../images/main_head_bg.gif) repeat-x;
	text-align:left;
	position:relative;
}
.main h2 {
	text-align:left;
	background:url(../images/side_point1.gif) 15px 10px no-repeat;
	padding:8px 0 0 25px;
	color:#1281ce;
	margin-bottom:20px;
}

.main .info {
	text-align:left;
	line-height:24px;
	color:#000;
	padding-top:10px;

}
.main .info li {
	background:url(../images/point2.gif) 26px 10px no-repeat;
	padding-left:42px;
}
.main .info span {
	font-weight:bold;
	margin:0 6px;
	color:#f60;
}
.search {
	position:absolute;
	top:5px;
	right:13px;
}
.search input {
	border:1px solid #b2d8f2;
	height:16px;
	float:left;
}
.search button {
	background:url(../images/button_bg2.gif) no-repeat;
	width:57px;
	height:18px;
	color:#fff;
	margin:0;
	line-height:18px;
	float:left;
}
.list table,.info1 table {
	width: 99%;
	border-collapse:collapse;
	border-top:1px solid #badcf4;
	margin-top:1px;
}
.list caption {
	text-align:left;
	padding:0 0 10px;
}
.list thead th,.info1 thead th {
	background:#ddf1ff url(../images/th_bg.gif) repeat-x;
	line-height:22px;
	color:#1281ce;
	border-right:1px solid #badcf4;
	border-bottom:1px solid #badcf4;
	border-left:1px solid #fff;
}
.hlist thead th{
	background:#ddf1ff url(../images/th_bg1.gif) repeat-x;
}
.list th,.info1 th {
	text-align:center;
	font-weight:normal;
}
.list tbody th,.list td,.info1 tbody th,.info1 td {
	text-indent:5px;
	line-height:22px;
	border:0 solid #badcf4;
	border-width:0 1px 1px 0;
	color:#333;
}
.list tfoot td {
	background:#f5fbff;
	text-align:right;
}
.list td.tc {
	text-align:center;
}
.pages {
	padding:1px 0 0;
}
.pages span {
	margin:0 6px;
}
.pages a {
	margin:0 4px;
	color:#;
}
.pages select {
	/*width:60px;*/
	vertical-align:middle;
}
.submit,.form div.submit1 {
	background:url(../images/tf_bg.gif) repeat-x;
	padding:10px 0 10px;
}
.form div.submit1 {
	border-top:1px solid #badcf4;
	margin-top:10px;
	padding-left:10px;
}
.form div.submit1 button {
	margin:0 10px 0 0;
}
.form div {
	padding:8px 0 8px 20px;
	clear:both;
	color:#333;
}
.form input {
	border:1px solid #ddd;
	margin-right:4px;
	height:18px;
	vertical-align:middle;
}
.form input.nos {
	border:none;
}
.form label {
	float:left;
	width:114px;
	line-height:22px;
	text-align:right;
}
.notice {
	clear:both;
	margin:6px 0;
}
.notice1 {
	color:#999;
	line-height:20px;
	margin-left:90px;
}
.form em {
	color:#f60;
}
.form textarea {
	border:1px solid #ddd;
	width:300px;
	height:80px;
}
.form span {
	line-height:20px;
}
.info1 table,.info1 caption {
	text-align:left;
}
.info1 table caption {
	background:url(../images/point3.gif) 20px 10px no-repeat;
	padding:10px 0 6px 40px;
	font-weight:bold;
}
.info1 caption p {
	line-height:14px;
}
.info1 caption p span {
	color:#f60;
	margin:0 6px;
}
.list-title {
	border-top:1px solid #badcf4;
	background:#fff;
	height:22px;
	line-height:22px;
}
.list-title li {
	float:left;
	border-left:1px solid #fff;
	border-right:1px solid #badcf4;
}
.list-title li span {
	float:left;
	background:url(../images/point3.gif) 10px 4px no-repeat;
}
.list-title li.on {
	background:url(../images/th_bg.gif) repeat-x;
	height:22px;
	line-height:22px;
}
.list-title li a {
	display:block;
	padding:0 24px 0 30px;
	color:#666;
}
.list-title li a:hover {
	color:#000;
}
.list-title li.on a {
	color:#000;
	font-weight:bold;
}
/* 20090223添加 */
.searchbar {
	background:url(../images/th_bg.gif) repeat-x;
	line-height:22px;
	height:22px;
	color:#1281ce;
	border-top:1px solid #badcf4;
	border-bottom:1px solid #badcf4;
	padding-left:10px;
}
.searchbar1 {
	background:url(../images/th_bg.gif) repeat-x;
	line-height:22px;
	height:22px;
	color:#1281ce;
	border-top:1px solid #badcf4;
	border-bottom:1px solid #badcf4;
	padding-left:10px;
	position:relative;
}
.custsearch {
	background:#f5fbff;
	padding:10px;
	border-bottom:1px solid #badcf4;
	margin-bottom: 10px;
}
.custsearch input {
	border:1px solid #ddd;
	height:18px;
	vertical-align:middle;
}
.custsearch input.nos {
	border:0;
}
.choosestat {
	line-height:22px;
	height:22px;
	color:#1281ce;	
}
.choosestat input {
	margin:0 3px 0 10px;
	}
.choosestat li {
	float:left;
	padding:0 10px;
}
.choosestat li.on {
	background:url(../images/th_bg.gif) repeat-x;
	border-top:1px solid #badcf4;
	border-left:1px solid #badcf4;
	border-right:1px solid #badcf4;
	height:22px;
	line-height:22px;
}
.choosestat li a {
	display:block;
	padding:0 24px 0 30px;
	color:#666;
}
.choosestat li a:hover {
	color:#000;
}
.choosestat li.on a {
	color:#000;
	font-weight:bold;
}
.choosestat li input {
	margin:0;
	}
.charttype {
	margin-bottom:10px;
	background:#f5fbff;
	border-bottom:1px solid #badcf4;
	padding:10px 0;
	text-align:center;
}
.choosecharttype {
	position:absolute;
	right:10px;
	top:1px;
}
.listcharttype table {
	width:700px;
	margin:10px auto 0;
	text-align:left;
	line-height:25px;
	}
/* 20090320添加 */
.titlebar {
	background:url(../images/th_bg.gif) repeat-x;
	line-height:22px;
	height:22px;
	color:#1281ce;
	border-top:1px solid #badcf4;
	border-bottom:1px solid #badcf4;
	padding-left:10px;
}
.set {
	background:#f5fbff;
	padding:10px;
	border-bottom:1px solid #badcf4;
}
.set p {
	padding:3px 0;
	width:100%;
}
.set input{
	border:1px solid #ddd;
	height:18px;
	vertical-align:middle;
}
.set input.nos{
	border:0;
}
.set label {
	float:left;
	width:260px;
	line-height:20px;
	*line-height:22px;
}
.set label.s1 {
	width:140px;
	line-height:20px;
	*line-height:22px;
}
.topnotice {
	background:#fffade;
	border:1px solid #fdec8e;
	padding:10px;
	margin:10px 0;
	line-height:20px;
	color:#1281CE;
}
/********** pop **********/
.pop_frame{
	position:fixed;
	*position:absolute;
	background:#000;
	filter:Alpha(Opacity=50);
	opacity:0.1;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:999;
}
#popup_container{
	position:absolute;
	width:400px;
	top:30%;
	left:30%;
	height:auto;
	z-index:999;
	text-align:left;
}
#popup_title {
	background:url(../images/pop_header.gif) no-repeat;
	height:29px;
	line-height:29px;
	color:#15428B;
	padding:0 10px;
	position:relative;
}
#popup_title button {
	background:url(../images/ico_close.gif) no-repeat;
	width:15px;
	height:15px;
	border:0;
	cursor:pointer;
	position:absolute;
	top:7px;
	right:7px;
}
#popup_content {
	background:#fff;
	border:1px solid #97bad8; 
	border-top:0;
}
#popup_message {
	background:url(../images/ico_notice.gif) 20px 15px no-repeat; 
	padding:15px 0 15px 60px;
}
#popup_message p {
	line-height:25px;
	width:315px;
	word-wrap:break-word;
	*word-break:break-all;
}
#popup_panel {
	padding:10px 0; 
	text-align:center;
}
#popup_panel input {
	background:url(../images/btn.gif) no-repeat;
	height:23px;
	line-height:23px;
	width:75px;
	text-align:center;
	color:#333;
	margin-right:20px;
	cursor:pointer;
	border:0;
}
.clear {
	clear:both;
}
/*缩略*/
.list table {
	table-layout:fixed;
	overflow:hidden;
}
.list tbody td {
	overflow:hidden;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	width:100%;
}

/**密码强度**/
.strength {
    padding: 1px 20px;
    background: #eee;
}
/*排序*/
.defaut a {
background:url(../images/small.gif) top center no-repeat;
display:block;
}
.desc {
background:url(../images/small_desc.gif) top center no-repeat;
display:block;
}
.asc {
background:url(../images/small_asc.gif) top center no-repeat;
display:block;
}
/*2010-01-18*/
.submit input {
	background:url(../images/button_bg1.gif) no-repeat;
	width:82px;
	height:24px;
	line-height:24px;
	color:#fff;
	border:none;
	cursor:pointer;
	margin:0 10px 0 0;
}
.submit {
	padding-left:10px;
}
.submit button {
	margin:0 10px 0 0;
}
.gray,.gray td,.gray td a{
	color:#aaa;
}

/*---------写信页面编辑框---------*/
.ke-container {
	border:1px solid #ddd;
}
.ke-dialog-title {
	height:29px;
	line-height:29px;
	padding:0 10px;
	background:url(../images/pop_header.gif) no-repeat;
	color:#15428B;
}
.ke-dialog-close {
	width:15px;
	height:15px;
	border:0;
	cursor:pointer;
	position:absolute;
	top:7px;
	right:7px;
	background:url(../images/ico_close.gif) no-repeat;
}
.ke-dialog-bottom  input{
	background:url(../images/btn.gif) no-repeat;
	height:23px;
	line-height:23px;
	width:75px;
	text-align:center;
	color:#333;
	cursor:pointer;
	border:0;
}
.ke-dialog-body {
	border-left:1px solid #97BAD8;
	border-right:1px solid #97BAD8;
}
.ke-dialog-bottom {
	border:1px solid #97BAD8;
	border-top:0;
}
.maillist {
    padding:0;
    margin:0;
}
.maillist ul {
    width:250px;
    height:250px;
    overflow:auto;
    background:#fff;
    overflow-x:hidden;
    border:1px solid #c3d7ef;
	
}
.maillist li {
    padding:5px 2px;
    font-weight:bold;
    border-bottom:1px dashed #ddd;
    white-space:nowrap;
    width:100%;
    overflow-x:hidden;
    text-overflow:ellipsis;
}
.morelist {
    max-height:400px;
    height: expression( this.scrollHeight > 400 ? "400px" : "auto" );
    overflow:auto;
}
/*新增ip地址 lxq*/
input.ip_tex{float:left;}
.ip_btn_box{float:left;}
.ip_tarea_box{float:left;}
.ip_box input.btn_add,.ip_box input.btn_del{cursor:pointer;width:60px;height:20px;}

/*系统管理员日志页面 文本框下拉框按钮对齐问题 lxq*/
.search select.search_sel{float:left;margin-right:8px;}
.search button.btn_search{float:left;margin-right:8px;}
.search input.search_text{float:left;}

/*系统消息页面、黑白名单新增页面单选按钮出现边框问题, lxq*/
.nobor_input input{border:none;}
.form input.eck_input{border:none;}
.api_div input.ip_radio{border:none;}

/*单选按钮与文字对齐问题, lxq*/
.choosestat ul li input{ vertical-align:middle;}
.choosecharttype input{ vertical-align:middle;}

/*邮局参数配置页面label宽度问题, lxq*/
.list_l label{width:220px;}

/*增加邮局页面，选框与文字对齐问题，lxq*/
.form label.label_line1{height:22px;line-height:18px;}
.form label.label_line2{height:22px;line-height:16px;}
